.container{
    width: 600px;
    height: 400px;
    border : 1px solid black;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box{
    width: 150px;
    height: 150px;
}
.crimson{
    background-color: crimson;
}
.coral{
    background-color: coral;
}
.violet{
    background-color: violet;
}
